@keyframes counterRotateWithPause {
  0% {
    transform: rotate(0deg);
  }
  96% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.animate-deco {
  animation: counterRotateWithPause 2.5s cubic-bezier(0.4, 0, 0.2, 1) 2 forwards;
}
